/* http://www.w3schools.com/cssref/css3_pr_animation.asp*/


#light, #lensesWhite, #lensesRed, #lensesBlue, #lensesYellow{
    pointer-events: none;
}

#overlay, #main-menu{
    position: absolute;
    z-index: -1;
}

/*     Shows/Hides Element     */
.elementOn  { visibility: visible; }
.elementOff { visibility: hidden;  }
.opacityLow { opacity: 0.1; }

.lightOn  { opacity: 1; width: 50px; height: 50px;}
#switch{}


/*     Shifts slide     */
@keyframes slideshift {
    0%    { transform: translate(0px,0px);    }
    100%  { transform: translate(-200px,0px); }
}

.shift {
    animation: slideshift linear 1s;
    animation-direction: reverse;
}

/*     Rotates right clip     */
@keyframes rotaterightclip {
    0%   { transform: rotate(0deg);  }
    100% { transform: rotate(-60deg); }
}
.rotateright {
    animation-name: rotaterightclip;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-direction: alternate;
    transform-origin: top;
}
@keyframes revertrightclip {
    0%   { transform: rotate(-60deg);  }
    100% { transform: rotate(0deg); }
}
.revertright {
    animation-name: revertrightclip;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-direction: alternate;
    transform-origin: top;
}

/*     Rotates left clip     */
@keyframes rotateleftclip {
    0%   { transform: rotate(0deg);  }
    100% { transform: rotate(60deg); }
}
.rotateleft {
    animation-name: rotateleftclip;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-direction: alternate;
    transform-origin: top;
}
@keyframes revertleftclip {
    0%   { transform: rotate(60deg);  }
    100% { transform: rotate(0deg); }
}
.revertleft {
    animation-name: revertleftclip;
    animation-duration: 3s;
    animation-iteration-count: 1;
    animation-timing-function: ease-in-out;
    animation-delay: 0s;
    animation-direction: alternate;
    transform-origin: top;
}

/*     moves stage     */
@keyframes stageshift {
    0%    { transform: translate(0px,0px);    }
    100%  { transform: translate(0px,50px); }
}

.stageshifter {
    animation: stageshift linear 2s;
    animation-direction: reverse;
}

/*     Zoom     */
@keyframes zooming {
    0%   { top: 10%;  bottom: 30%; width: 80%; height:100%; right: 50%; left:10%; }
    100% { width: 200%; height: 200%; left: -50%; top: -50%; }
}

.stageZoomIn{
	animation-name:zooming;
    animation-duration:1s;
    width:200%;
    height:200%;
    left: -50%;
    top:-50%;
    position:absolute;
    animation-fill-mode: forwards;
}

@keyframes unzooming {
    0%     { width: 200%; height: 200%; left: -50%; top: -50%; }
    100%   { top: 10%;  bottom: 30%; width: 80%; height:100%; right: 50%; left:10%; }
}
.stageZoomOut{
	animation-name:unzooming;
    animation-duration:1s;
    width:200%;
    height:200%;
    left: -50%;
    top:-50%;
    position:absolute;
    animation-fill-mode: forwards;
}

#rotate {
    border-radius: 50%;
    border-color: black;
    display:visible;
    position: absolute;
    left: 2%; 
    top: 60%;
    
    text-align: center;
    overflow: hidden; 
    border: 1px solid rgb(90,90,90);
}

#rotate2{
    position: relative;
    float: left;
    top: -110%;
    left: -190%;
}

 


.sview {
    border-radius: 50%;
    border-color: black;
    display:visible;
    position: absolute;
    background-color: black;
    left: 4%; 
    top: 10%;    
    overflow: hidden; 
    z-index: 1;
}

#slideView2{
    left: 4%;
    z-index: 0;
}

#slideContentsContainer{
    height: 100%;
    margin-left: -50%;
    margin-top: -50%;
    width: 100%;
    background-color: black;
}

#slideContentsContainer2{
    height: 100%;
    margin-left: -50%;
    margin-top: -50%;
    width: 100%;
    background-color: black;
}

#slideContents{
    width: 200%;
    height: 200%;
    position: relative;
    margin: 0 auto;
}


#slideContents2{
    width: 200%;
    height: 200%;
    position: relative;
    margin: 0 auto;
}

#switchTarget {
    width: 4%;
    height: 5%;
    left: 36.5%;
    top: 72.5%;
    position: absolute;
    opacity: 0;
}


#eyepieceTarget {
    width: 50%;
    height: 23%;
    left: 24%;
    top: 12%;
    position: absolute;
    opacity: 0;
}

#diaphragmTarget{
    width: 10%;
    height: 7%;
    left: 44%;
    top: 57%;
    position: absolute;
    opacity: 0;
    
}

.highlightPart{
     stroke: rgba(255, 0, 0, 0.5);
     stroke-width: 5px;
}

#fineknobsTarget1{
    width: 3%;
    height: 5%;
    left: 37%;
    top: 63.5%;
    position: absolute;
    opacity: 0;
    z-index:100000;
}

#fineknobsTarget2{
    width: 3%;
    height: 5%;
    left: 58%;
    top: 63.5%;
    position: absolute;
    opacity: 0;
    z-index:100000;
}


#coarseknobsTarget1{
    width: 3%;
    height: 8%;
    left: 39%;
    top: 62.5%;
    position: absolute;
/*    opacity: 0;*/
    z-index:100000;
}

#coarseknobsTarget2{
    width: 3%;
    height: 8%;
    left: 56%;
    top: 62.5%;
    position: absolute;
/*    opacity: 0;*/
    z-index:100000;
}

#lensesTarget{
    width: 26%;
    height: 16%;
    left: 36%;
    top: 34%;
    position: absolute;
    opacity: 0;
    z-index:100000;
}


#caliperTarget1{
    width: 38%;
    height: 6%;
    left: 35%;
    top: 48%;
    position: absolute;
    opacity: 0;
    z-index:100000;
}

#caliperTarget2{
    width: 7%;
    height: 20%;
    left: 62%;
    top: 48%;
    position: absolute;
    opacity: 0;
    z-index:100000;
}


#zoomTarget {
    width: 52%;
    height: 25%;
    left: 25%;
    top: 45%;
    color: #ff0000;
    position: absolute;
    opacity: 0;
}



#eyeView {
/*
	border-radius: 50%;
    width: 25%;
    height: 25%;
    left: 5%;
    top: 40%;
    color: #ff0000;
    position: absolute;
    opacity: 1;
*/
}


.knob{
    -moz-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
}


#popupType{
    padding: 5px;
    font-size: 20px;
}

.popupInstruct{
    background-color: rgba(114, 177, 191, 0.5);
    border-top-right-radius: 1em;
    border-top-left-radius: 1em;
    text-align: center;
}

#popup {
    background-color:#ffffff;
    border: 1px solid black;
    left: 0%;
    top: 0%;
    display:none;
    position: absolute;
    z-index: 1000000;
    max-height: 20%;
    min-height: 2%;
    max-width: 15%;
    min-width: 15%;
    border-radius: 20px;
    text-align: left;
}


#popupText{
    color:#000;
    padding: 10px;
}

#popupTextWrapper{
}

